@font-face {
  font-family: 'titleFonts';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/titleFonts.otf');
}

.App {
  
}
.loader2{
  display: flex;
  flex: 1;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
 }
.header{
  background-color: #F45F68;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}
.baby{
  width: 160px;
  height: 160px;
}
.titleMsg{
  font-size: 20px;
  color: #fff;
}
.items{
  background-color: #222;
  padding-top:20px;
  padding-bottom:20px;
  margin: 0;
}
.itemDiv{
  /* text-align:center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 
}
.rightIcon{
  width:50px;
  height:50px;
  align-self:center;
}
.itemText{
  font-size: 25px;
  color: #fff;
  margin-left: 20px;
}
.dataDiv{
  background-color: #fff;
  height: auto;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
  height: auto;
  margin: 0;
}.input{
  color:#fff;
}
.map{
  width: 100%;
  height: 400px;
}
.letterBox{
  width:50px;
  height:50px;
  background-color:#F45F68;
  display: flex;align-items: center;
  justify-content: center;
  margin:10px;
  cursor: pointer;
}
.letterBoxSelected{
  width:50px;
  height:50px;
  background-color:#222;
  display: flex;align-items: center;
  justify-content: center;
  margin:10px;
  cursor: pointer;
}
.religionBox{
  padding-left:10px;
  padding-right:10px;
  background-color:#222;
  display: flex;align-items: center;
  justify-content: center;
  margin:10px;
  cursor: pointer;
}
.religionBoxSelected{
  padding-left:10px;
  padding-right:10px;
  background-color:#F45F68;
  display: flex;align-items: center;
  justify-content: center;
  margin:10px;
  cursor: pointer;
}
.genderImg{
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.genderImgSelected{
  cursor: pointer;
  width: 80px;
  height: 80px;
}